html, body {
  margin: 0;
  padding: 0;
}

/* ALL LINKS */

.link {
  text-decoration: none;
  color: black;
}

/* ALL FORMS */

.inputField{
  font-size: 15px
}

/* ITEMS */

.allItems {
  margin-left: 30px;
}

.items {
  display: inline;
  flex-wrap: wrap;
}

.card {
  display: inline-block;
  margin: 20px;
}

.images {
  width: 250px;
}

/* MAIN NAV */

.nav{
  position: fixed;
  top: 0;
  display: flex;
  min-width: 900px;
  width: 100vw;
  height: 65px;
  background-color: white;
  border-bottom: 2px solid black;
}

.mainNavUL {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  font-size: 17px;
}

.mainNavLI {
  display: inline;
  vertical-align: middle;
}

.logo {
  font-size: 20px;
  display: inline;
  vertical-align: middle;
} 

/* ACCOUNT NAV */

.accountNav {
  /* position: relative;
  float: right; */
  /* position: absolute;
  right: 0; */
  vertical-align: middle;
  margin-top: 5px;
  margin-right: 20px;
}

.accountNavUL {
  list-style-type: none;
  text-align: right;
  padding: 0;
  font-size: 14px;
  vertical-align: middle;
}

.accountNavLI {
  display: inline;
  vertical-align: middle;
} 

/* SIDE NAV */

.sideNav {
  line-height: 25px;
  margin-top: 10px;
  min-width: 210px;
}

.sideNavUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.sideNavTitle {
  margin-top: 10px;
  font-size: 11pt;
  font-weight: bold;
}

.sideNavLI {
  font-size: 11pt;
}

/* SIDENAV */

.sideNavContainer {
  display: flex;
  margin: 20px;
}

.space {
  flex-grow: 1
}

/* SIGN UP */
.signUpBack{
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: red;
  height: 100%;
  width: 100%;
  opacity: 0;

}
.signUp {
  position: absolute;
  top: 20%;
  left: 25%;
  background-color: white;
  height: 500px;
  width: 500px;
  box-shadow: 2px 5px 8px #888888;
}

.signUpForm {
  margin: 20px;
  text-align: center;
}

.signUpThankYou {
  margin: 20px;
  text-align: center;
  margin-top: 100px;
}

/* DETAILS */
.details {
  display: flex;
  margin-left: 300px;
  margin-top: 100px;
}

.detailDesc {
  width: 350px;
  word-wrap: break-word;
}

.detailTxt {
  margin: 40px;
}


/* VIEW ACCOUNT */
.viewAccount{
  padding:20px;
  margin: 10px;
flex-wrap: wrap;


}

.accountItems{
  display:flex;
  flex-wrap: wrap;

}

/* POST ITEM */

.postItem {
  font-weight: bold;
  background-color: #d6f2ea;
  width: 90px;
  height: 30px;
  border: 2px solid black;
}

.content {
  margin-top: 90px;
}
