html, body {
  margin: 0;
  padding: 0;
}

/* LINKS */

.link {
  text-decoration: none;
  color: black;
}

/* ITEMS */

.allItems {
  margin-left: 50px;
}

.items {
  display: inline;
  flex-wrap: wrap;
}

.card {
  display: inline-block;
  margin: 10px;
}

/* ACCOUNT NAV */

.accountNavUL {
  list-style-type: none;
  text-align: right;
  margin: 10px;
  padding: 0;
  font-size: 14px;
}

.accountNav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  background-color: #f4f3f3;
}

.accountNavLI {
  display: inline;
}

/* MAIN NAV */

.mainNav {
  margin-top: 60px;
  min-width: 800px;
}

.mainNavUL {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  font-size: 17px;
}

.mainNavLI {
  display: inline;
  vertical-align: middle;
}

.logo {
  font-size: 40px;
  display: inline;
  vertical-align: middle;
  margin-right: 95px;
}


/* FORM */

.inputField{
  font-size: 15px
}

/* SEARCH */

.searchContainer {
  display: flex;
  margin: 20px;
}

.search {
  margin-top: 10px;
}