html, body {
  margin: 0;
  padding: 0;
}

/* ALL LINKS */

.link {
  text-decoration: none;
  color: black;
}

/* ALL FORMS */

.inputField{
  font-size: 15px
}

/* ITEMS */

.allItems {
  margin-left: 30px;
}

.items {
  display: inline;
  flex-wrap: wrap;
}

.card {
  display: inline-block;
  margin: 10px;
}

/* ACCOUNT NAV */

.accountNavUL {
  list-style-type: none;
  text-align: right;
  /* margin: 13px; */
  padding: 0;
  font-size: 14px;
  vertical-align: middle;
  /* min-width: 800px; */
}

/* .accountNav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 45px;
} */

.accountNav {
  position: relative;
  float: right;
  vertical-align: middle;
  margin-top: 10px;
  /* min-width: 800px; */
}

.accountNavLI {
  display: inline;
  vertical-align: middle;
  /* min-width: 800px; */
} 

/* MAIN NAV */

/* .mainNav {
  margin-top: 70px;
  min-width: 800px;
} */

.nav{
  display: flex;
  min-width: 800px;
  width: 100vw;
  height: 50px;
}

.mainNavUL {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  font-size: 17px;
  /* min-width: 800px; */
}

.mainNavLI {
  display: inline;
  vertical-align: middle;
  /* min-width: 800px; */
}

.logo {
  font-size: 20px;
  display: inline;
  vertical-align: middle;
  /* min-width: 800px; */
} 

/* SIDE NAV */

.sideNav {
  line-height: 25px;
  margin-top: 10px;
  min-width: 210px;
}

.sideNavUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.sideNavTitle {
  margin-top: 10px;
  font-size: 11pt;
  font-weight: bold;
}

.sideNavLI {
  font-size: 11pt;
}

/* SIDENAV */

.sideNavContainer {
  display: flex;
  margin: 20px;
}

/* SIGN UP */

.signUp {
  position: absolute;
  top: 20%;
  left: 25%;
  background-color: white;
  height: 500px;
  width: 500px;
  box-shadow: 2px 5px 8px #888888;
}

.signUpForm {
  margin: 20px;
  text-align: center;
}

.signUpThankYou {
  margin: 20px;
  text-align: center;
  margin-top: 100px;
}




/* DETAILS */
.details {
  display: flex;
  margin-left: 500px;
  margin-top: 100px;

}
/* .detailImg {
  display: flex;
}

.detailTxt {
  display: flex;
} */


/* VIEW ACCOUNT */
.viewAccount{
 display:flex;
  padding:100px;
  margin: 10px;


}
